* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #fafafa;
    color: #212121;
}

.logged-out-container #flash-container {
    width: 80%;
    max-width: 400px;
}

.flash {
    font-size: 0.75em;
    background-color: #eee;
    padding: 10px;
    margin: 1em auto;
    text-align: center;
}

.flash.error {
    color: #e57373;
}

.flash.success {
    color: #81c784;
}

.logged-out-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    margin: 0;
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 2.25em;
}

.tagline {
    font-weight: 100;
    margin-bottom: 1em;
    text-align: center;
}

.tagline span:last-child {
    display: block;
}

.login-reg-form-container {
    margin-bottom: 2em;
    width: 80%;
    max-width: 400px;
}

.label-input-group,
.checkbox-group {
    margin-bottom: 1em;
}

.label-input-group label {
    font-size: 0.75em;
    text-transform: uppercase;
    display: block;
}

.label-input-group input {
    display: block;
    width: 100%;
}

.text-input {
    border: none;
    background-color: #eee;
    border-bottom: 2px solid #bdbdbd;
    line-height: 1.5;
    padding: 5px;
}

.text-input.ng-dirty.ng-invalid:not(:focus) {
    border-bottom-color: #e57373;
}

.text-input.ng-dirty.ng-valid:not(:focus) {
    border-bottom-color: #81c784;
}

.text-input:focus {
    outline: none;
    border-bottom-color: #4fc3f7;
}

.text-input:disabled {
    color: #757575;
}

.lg-button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #4fc3f7;
    border: none;
    color: #fafafa;
    margin: 0.5em auto;
}

.lg-button:disabled {
    opacity: 0.4;
}

.switch-login-reg {
    display: block;
    text-align: right;
    margin-top: 1em;
}

#location-results {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 0.5em;
}

#location-results span {
    display: block;
    font-size: 0.8em;
    margin-bottom: 1em;
}

#location-results a {
    display: block;
    font-size: 0.8em;
    margin: 0.5em 0;
    padding: 10px;
    background-color: #fafafa;
}

#location-results a:last-child {
    text-align: right;
    margin-top: 1em;
    padding: 0;
    background-color: #eee;
}
