<p class="calendar-title">{{ monthString }} {{ currentYear }}</p>
<div class="calendar-tabs">
    <a ng-click="changeMonth(-1)">Previous</a>
    <a ng-click="loadCurrentMonth()" ng-class="{disabled: onCurrentMonth}">Today</a>
    <a ng-click="changeMonth(1)" ng-class="{disabled: onCurrentMonth}">Next</a>
</div>
<div class="weekday-container">
    <div ng-repeat="day in daysOfWeek" class="weekday">
        <span>{{ day }}</span>
    </div>
</div>
<div class="calendar-container">
    <div ng-repeat="date in dates" class="calendar-box" ng-class="{today: isToday(date), complete: frequencies[date.format('MMM D YYYY')], 'other-month': date.month() !== currentMonth}">
        <span>{{ date.format('DD') }}</span>
        <div ng-if="frequencies[date.format('MMM D YYYY')]" class="completion-num">{{ frequencies[date.format('MMM D YYYY')] }}</div>
    </div>
</div>
