<div class="calendar-tabs">
    <a ng-click="changeMonth(-1)">Previous</a>
    <a ng-click="onCurrentMonth ? null : loadCurrentMonth()">Today</a>
    <a ng-click="onCurrentMonth ? null : changeMonth(1)">Next</a>
</div>
<p class="calendar-title">{{ monthString }} {{ currentYear }}</p>
<div class="weekday-container">
    <div ng-repeat="day in daysOfWeek" class="weekday">
        <span>{{ day }}</span>
    </div>
</div>
<div>
    <div ng-repeat="date in dates" ng-class="{today: isToday(date)}">
        <span>{{ date.format('DD') }}</span>
        <span>Completions: {{ frequencies[date.format('MMM D YYYY')] }}</span>
    </div>
</div>
