<p class="greeting">{{ currentUser.is_birthday ? 'Happy Birthday' : 'Hello' }}<span ng-if="currentUser.name">, {{ currentUser.name }}</span>!</p>
<p class="greeting-sub">It is <lvl-clock start-time="currentUser.local_now"></lvl-clock> in {{ location }}.</p>
<div ng-if="!habits.length" class="intro-links">
    <p>Let's get started.</p>
    <p><a ui-sref="new-habit">Add a New Habit</a></p>
    <p ng-if="!currentUser.name || !currentUser.sms_num || !currentUser.birthdate"><a ui-sref="account">Personalize Your Account</a></p>
</div>
<div ng-if="habits.length" class="habit-container">
    <div ng-repeat="habit in getSortedHabits()" class="habit" ng-class="{complete: habit.done_today}">
        <a ui-sref="habit({id: habit.habit_id})">{{ habit.title }}</a>
        <form action="/api/complete-habit" method="POST">
            <input type="hidden" name="habit-id" value="{{ habit.habit_id }}" readonly>
            <button type="submit" class="sm-button"><i class="fa fa-check"></i></button>
        </form>
    </div>
</div>
