<p class="greeting">{{ currentUser.is_birthday ? 'Happy Birthday' : 'Hello' }}<span ng-if="currentUser.name">, {{ currentUser.name }}</span>!</p>
<p class="greeting-sub">It is <lvl-clock start-time="currentUser.local_now"></lvl-clock> in {{ location }}.</p>
<div ng-if="!habits.length">
    <p><a ui-sref="new-habit">Add a new habit</a> to get started!</p>
    <p><a ui-sref="account">Finish setting up your account</a> to personalize your experience.</p>
</div>
<div ng-if="habits.length">
    <div ng-repeat="habit in getSortedHabits()" ng-class="{complete: habit.done_today}">
        <a ui-sref="habit({id: habit.habit_id})">{{ habit.title }}</a>
        <form action="/api/complete-habit" method="POST">
            <input type="hidden" name="habit-id" value="{{ habit.habit_id }}" readonly>
            <button type="submit"><i class="fa fa-check"></i></button>
        </form>
    </div>
</div>
