<form action="/auth/validate-login" method="POST" novalidate>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" ng-model="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" ng-model="password" required>
    <input type="checkbox" name="remember" id="remember">
    <label for="remember">Remember Me</label>
    <input type="submit" value="Log In" ng-disabled="!email || !password">
</form>
<a ui-sref="register">Sign Up</a>
