<form action="/auth/validate-login" method="POST" novalidate>
    <div class="label-input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" ng-model="email" class="text-input" required>
    </div>
    <div class="label-input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="password" class="text-input" required>
    </div>
    <div class="checkbox-group">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">Remember Me</label>
    </div>
    <input type="submit" value="Log In" ng-disabled="!email || !password" class="lg-button">
</form>
<a ui-sref="register">Sign Up</a>
