{% extends 'base.html' %}

{% block body %}
<header>
    <a ui-sref="home" class="header-logo">Level Up!</a>
    <div class="header-links mobile-header-links">
        <a ui-sref="new-habit"><i class="fa fa-plus"></i></a>
        <a ui-sref="account"><i class="fa fa-cog"></i></a>
        <a href="/logout" target="_self"><i class="fa fa-sign-out"></i></a>
    </div>
    <div class="header-links main-header-links">
        <a ui-sref="new-habit">Add Habit</a>
        <a ui-sref="account">Account</a>
        <a href="/logout" target="_self">Log Out</a>
    </div>
</header>
<div id="flash-container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="main-container">
    <div ui-view></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/trend-factory.js') }}"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/trends.js') }}"></script>
{% endblock %}
